body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Login-center {
  text-align: center
}

.Center-button {
  margin-left: 41%;
  padding-bottom: 5px;
}

.TopNav-img {
  width: 100%;
  background-size: contain;
}

.SelectOptions-container {
  display: flex;
  flex-direction: column;
}

.btn-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.Home {
  display: flex;
}

.Home-img {
  border-radius: 50%;
}

.QR-container {
  display: flex;
  align-content: center;
}

.QR {
  margin: 148px 0px 0px 73px;
}

.homepage {
  min-height: 288px;
  background: url("C:/Users/Ahmed/Desktop/hamlaty/client/src/images/icons/homeIcone.jpg");
}

.qr-height {
  min-height: 561px
}

.login-height {
  min-height: 561px
}

.icons {
  background: url("C:/Users/Ahmed/Desktop/hamlaty/client/src/images/icons/homeIcon_secondHalf.jpg");
  padding: 10px;
  height: 161px;
}

.icons img {
  margin-right: 61px;
  width: 77px;
}

.icons img:last-child {
  margin-right: 0px;
}

.btnhome {
  text-align: center;
  width: 100%;
}

.btnhome img {
  margin: 132px 0 0 0;
  width: 267px;
}

.Login {
  display: flex;
  align-content: center;
}

.Login-form {
  width: 192px;
  margin: 0px 0px 0px 103px;
}

.form-group input {
  width: 138px;
}

.Login-continer {
  display: flex;
}

.Login-img {
  width: 184px;
}

.Login-btn {
  display: flex;
  width: 184px;
}

.backgroundImage {
  background: url("C:/Users/Ahmed/Desktop/hamlaty/client/src/images/background.jpg");
}

.Signup-input {
  width: 202px
}

.Signup-container {
  margin-left: 130px;
}

.Signup-img {
  width: 167px;
  margin: 19px 0px 0px 0;
}

.QR-img {
  width: 167px;
  margin: 19px 0px 0px 23px
}

.footer {
  width: 375px;
  height: 50px;
  background: url("C:/Users/Ahmed/Desktop/hamlaty/client/src/images/footer.jpg");
  background-size: 100% 100%;
}